/* Styles for the popup */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.popup-content h3 {
    margin-bottom: 20px;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 18px;
    cursor: pointer;
}

.payment-section {
    margin: 15px 0;
}

.payment-section label {
    margin-right: 10px;
}

.actions {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.btn-save {
    background-color: #198754;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-discard {
    background-color: #dc3545;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-save:hover {
    background-color: #157347;
}

.btn-discard:hover {
    background-color: #bb2d3b;
}
.modal-body {
    text-align: justify;
    align-items: center;
    border-radius: 30px;
}
.modal-header {
    color:  whitesmoke;
}

.modal-dialog {
     max-width: 40%; /* Adjust as needed */
}

.modal-content {
    max-height: 50vh; /* Adjust height */
    overflow-y: auto; /* Enables scrolling if content is too long */
}